<div class="page-header">
	<div>
		<h1>
			<%= link_to (image_tag image_path("ClearOne_AdvantageLogo.JPG"), id: "coa_logo", alt: "Icon"), url_for("http://www.clearoneadvantage.com") %>
		</h1>
	</div>
</div>

<div class="container-fluid">
	<div class="hero-unit">
		<h1>DC HealthLink</h1>
    <p>Welcome to DC HealthLink EDI Dashboard. Use the button below to sign into your account.
		</p>
		<p><%#= link_to 'Sign in', new_user_session_path, :class => "btn btn-primary btn-large"  %></p>
		<%#= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary btn-large" %>
  </div>
</div>