<li class="nav-header">Edit</li>
<li><%= link_to "Edit", edit_employer_path(@employer) %></a></li>
<li class="nav-header">Enrollment</li>
<li><%= link_to "New Employee", new_employer_employee_path(@employer) %></a></li>
<li><a href="#">Drop Employee</a></li>
<li><a href="#">Special Enrollment Period</a></li>
