<%- model_class = Employer -%>
<div class="page-header">
  <ul class="breadcrumb">
    <li><%= link_to model_class.model_name.human.titleize.pluralize, employers_path %></li>
    <li><%= link_to @employer.name, employer_path(@employer) %></li>
    <li class="active">Edit</li>
  </ul>
</div>
<%= render :partial => 'form' %>
