<%- model_class = Employer -%>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: [
      link_to('Employers', employers_path),
      link_to(@employer.name, employer_path(@employer)),
      'Edit'
    ] 
  %>
</div>
<%= render :partial => 'form' %>
