<li class="nav-header">Individual</li>
<% if @person.can_edit_family_address? %>
  <li><%= link_to "Change Address", edit_enrollment_address_path(@person, {:id => @person._id}) %></li>
<% end %>
<li><a href="#">Set Authority</a></li>
<li><%= link_to "Edit", edit_person_path(@person) %>
<li><%= link_to "Add Dependent", new_person_path %>
<li><%= link_to "Drop Dependent", new_person_path %>
<li class="nav-header">Coverage</li>
<li><a href="#">New Policy</a></li>
<li><a href="#">Change Carrier</a></li>
<li><a href="#">Change Plan</a></li>
<li><a href="#">Cancel/Term</a></li>
<li class="nav-header">Tasks</li>
<li><a href="#">Transmit Changes</a></li>
<li><a href="#">Special Enrollment Period</a></li>
