<li class="nav-header">Edit</li>
<% if @person.can_edit_family_address? %>
  <li><%= link_to "Change Address", edit_enrollment_address_path(@person, {:id => @person._id}) %></li>
<% end %>
<li><a href="#">Set Authority Member</a></li>
<li><%= link_to "Change Member Info", edit_person_path(@person) %>
<li><%= link_to "Add Dependent", new_person_path %>
<li class="nav-header">Enrollment</li>
<li><a href="#">Special Enrollment Period</a></li>
<li><a href="#">Enroll in Plan</a></li>
<li><a href="#">Change Carrier</a></li>
<li><a href="#">Change Plan</a></li>
<li><a href="#">Cancel/Term Plan</a></li>
<li><a href="#">Transmit Changes</a></li>
