<fieldset>
  <div class="row">
    <div class="col-md-3">
      <%= s.input :reason, as: :select, collection: ["birth", "death", "adoption"], include_blank: "SEP Reason" %>
    </div>
    <div class="col-md-4">
      <div class="input-group col-sm-4">
        <span class="input-group-btn">
          <button class="btn" type="button"><span class="fui-calendar"></span></button>
        </span>
        <%= s.input_field :start_date, as: :string,
          start_year: Date.today.year - 1, 
          end_year: Date.today.year + 1, 
          placeholder: "mm/dd/yyyy",
          class: "date_picker",
          value: s.object.start_date.try(:strftime, "%m/%d/%Y")
        %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group col-sm-4">
        <span class="input-group-btn">
          <button class="btn" type="button"><span class="fui-calendar"></span></button>
        </span>
        <%= s.input_field :end_date, as: :string,
          start_year: Date.today.year - 1, 
          end_year: Date.today.year + 1, 
          placeholder: "mm/dd/yyyy",
          class: "date_picker",
          value: s.object.end_date.try(:strftime, "%m/%d/%Y")
        %>
      </div>
    </div>
  </div>
</fieldset>

