<%- model_class = Household -%>
<div class="page-header">
  <ul class="breadcrumb">
    <li><%= link_to model_class.model_name.human.titleize.pluralize, households_path %></li>
    <li class="active">New</li>
  </ul>
</div>
<%= render :partial => 'form' %>
