<%- model_class = Household -%>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: [
      link_to('Households', households_path),
      'New'
    ] 
  %>
</div>
<%= render :partial => 'form' %>
